<div class="md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
    <div class="flex-1 flex flex-col min-h-0 bg-gray-800">
        <div class="flex items-center h-16 flex-shrink-0 px-4 bg-gray-900">
            <img class="h-8 w-auto" src="https://partner.steamgames.com/public/images/steamworks_logo_white.png"
                alt="Steamworks">
        </div>
        <div class="flex-1 flex flex-col overflow-y-auto">
            <nav class="flex-1 px-2 py-4 space-y-1">
                <ng-container *ngFor="let sidebarItem of sidebarItems">
                    <a routerLink="{{sidebarItem.url}}" routerLinkActive="bg-gray-900 hover:bg-gray-900 text-white"
                        class="text-gray-300 hover:bg-gray-700 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
                        <hero-icon [name]="sidebarItem.icon" class="w-6 h-6 mr-4"></hero-icon>
                        {{sidebarItem.label}}
                    </a>
                </ng-container>
            </nav>
        </div>
    </div>
</div>