<div class="px-4 sm:px-6 lg:px-8">
    <div class="flex flex-row justify-end">
        <div class="">
            <button type="button"
                class="rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
                (click)="emitAddAction()">{{addButtonLabel}}</button>
        </div>
    </div>
    <div class="mt-8 flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider"
                                    *ngFor="let tableHeader of tableHeaders">
                                    {{tableHeader.displayLabel}}
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-right text-xs font-medium uppercase tracking-wider">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                            <tr *ngFor="let tb of tableDataSource">
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                                    *ngFor="let tableHeader of tableHeaders">
                                    {{tb[tableHeader.key]}}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <button class="bg-indigo-600 px-2 mr-2 py-1 rounded-md"
                                        [ngClass]="{'hidden': tableOptions.misc.view == false}"
                                        (click)="emitMiscAction(tb.id)">
                                        <hero-icon [name]="tableOptions.misc.icon" class="w-4 h-4 text-white pt-1">
                                        </hero-icon>
                                    </button>
                                    <button class="bg-indigo-600 px-2 py-1 rounded-md" (click)="emitUpdateAction(tb.id)"
                                        [ngClass]="{'hidden': tableOptions.edit == false}">
                                        <hero-icon name="pencil" class="w-4 h-4 text-white pt-1"></hero-icon>
                                    </button>
                                    <button class="bg-indigo-600 px-2 py-1 ml-2 rounded-md"
                                        (click)="emitDeleteAction(tb.id)"
                                        [ngClass]="{'hidden': tableOptions.delete == false}">
                                        <hero-icon name="trash" class="w-4 h-4 text-white pt-1"></hero-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- This example requires Tailwind CSS v2.0+ -->
                    <nav class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
                        aria-label="Pagination">
                        <div class="hidden sm:block">
                            <p class="text-sm text-gray-700">
                                Showing
                                <span class="font-medium">{{currentPage}}</span>
                                of
                                <span class="font-medium">{{totalPage}}</span>
                                pages
                            </p>
                        </div>
                        <div class="flex-1 flex justify-between sm:justify-end">
                            <button (click)="emitPreviousNavigate()"
                                class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                                Previous </button>
                            <button (click)="emitNextNavigate()"
                                class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                                Next </button>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>